<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tallyadmin.gp.gpcropcare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".Activities.StateReport2Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.StockReportActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LimitActivity"
            android:exported="false"
            android:parentActivityName=".Activities.Sixreportactivity" />
        <activity
            android:name=".Activities.CurrentStatusActivity"
            android:exported="false"
            android:parentActivityName=".Activities.Sixreportactivity" />
        <activity
            android:name=".Activities.LastYearbusinessActivity"
            android:exported="false"
            android:parentActivityName=".Activities.Sixreportactivity" />
        <activity
            android:name=".Activities.BusinessdateActivity"
            android:exported="false"
            android:parentActivityName=".Activities.Sixreportactivity" />
        <activity
            android:name=".Activities.NCRDueBills"
            android:exported="false"
            android:parentActivityName=".Activities.Sixreportactivity" />
        <activity
            android:name=".Activities.Outstanding"
            android:exported="false"
            android:parentActivityName=".Activities.Sixreportactivity" />
        <activity
            android:name=".Activities.Sixreportactivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ReportActivity"
            android:exported="false"
            android:parentActivityName=".Activities.SalesOrderActivity" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PaytransActivity"
            android:exported="false"
            android:parentActivityName=".Activities.PaymentActivity" />
        <activity
            android:name=".Activities.ShowpayActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ActivateLicenceActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DemoregisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LicenceActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Fragement_OrderActivity"
            android:exported="false"
            android:parentActivityName=".Activities.SalesOrderActivity" />
        <activity
            android:name=".Activities.ShowtransactionOrderActivity"
            android:exported="false"
            android:parentActivityName=".Activities.SalesOrderActivity" />
        <activity
            android:name=".Activities.Fragement_managerActivity"
            android:exported="false"
            android:parentActivityName=".Activities.SalesActivity" />
        <activity
            android:name=".Activities.ShowtransactionActivity"
            android:exported="false"
            android:parentActivityName=".Activities.SalesActivity" />
        <activity
            android:name=".Activities.ShowinvoicesActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Activities.HelpActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Activities.PaymentActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Activities.SalesOrderActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Activities.SalesActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Activities.SalesInvoiceActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>